html, body {
    overflow-x: hidden;
 
  }
  body {
    position: relative
  }

  .background{
    background: radial-gradient(black 15%, transparent 16%) 0 0,
   radial-gradient(black 15%, transparent 16%) 8px 8px,
   radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
   radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    
  }
  
  .equipment {
    background: linear-gradient(60deg, #3a62ff 13.4%, #70E3F5 86.6%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
  }


  .btb {
    background-color: #3a62ff;
  }
  .btb-2 {

    background-color: linear-gradient(60deg, #3a62ff 13.4%, #70E3F5 86.6%);;
  }
  .btb-d-1 {
 
    border-color: linear-gradient(60deg, #3a62ff 13.4%, #70E3F5 86.6%);;
  } 
  .test {
    //  background: linear-gradient(180.2deg, rgb(28, 34, 43) 6.8%, rgb(62, 73, 85) 131%);
    background: linear-gradient(180.2deg, rgb(29, 31, 43) 6.8%, rgb(23, 49, 98) 131%);
  }
  .test-2 {
    //  background: linear-gradient(180.2deg, rgb(28, 34, 43) 6.8%, rgb(62, 73, 85) 131%);
    background: linear-gradient(180.2deg, rgb(42, 56, 71) 6.8%, rgb(32, 41, 57) 131%);
  }


  .a{
    background: rgb(131,181,251)
  }
.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

  tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}