html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

  .background{
    background: radial-gradient(black 15%, transparent 16%) 0 0,
   radial-gradient(black 15%, transparent 16%) 8px 8px,
   radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
   radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    
  }
  
  .equipment {
    background: linear-gradient(60deg, #3A62FF 13.4%, #70E3F5 86.6%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
  }


  .btb {
    background: linear-gradient(60deg, #3A62FF 13.4%, #70E3F5 86.6%);
-webkit-background-clip: border-box;
-webkit-text-fill-color: transparent;
background-clip: border-box;
text-fill-color: transparent;
  }


  .test {
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(20, 22, 24) 131%);
  }