<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.8.1/cdn.min.js" defer></script>

<!-- Slider Component Container -->
<div class="flex flex-col items-center justify-center mt-32" x-cloak x-data="appData()" x-init="appInit()">
  <div class="flex flex-col">
    <!-- Page Scroll Progress -->

    <!-- Navbar -->

    <nav class="flex  justify-around py-8 bg-opacity-0 w-full fixed top-0 left-0 right-0 z-10">
      <!-- Logo Container -->
      <div class="flex items-center space-x-4"> <!-- Flex container with horizontal spacing -->
        <a (click)="navigateToHome()"
          class="cursor-pointer transition-colors duration-300 font-semibold text-white hover:text-gray-600">
          Home
        </a>
        <div *ngIf="auth.isAuthenticated$ | async" class="flex items-center space-x-4">
          <!-- Only shows when authenticated -->
          <a (click)="navigateToCalendar()"
            class="cursor-pointer transition-colors duration-300 font-semibold text-white hover:text-gray-600">
            Calendar
          </a>
        </div>
      </div>



    
      <!-- Icon Menu Section -->
      <div class="flex items-center">
        <!-- Register -->
  

        <!-- Login -->

        <div *ngIf="(auth.isAuthenticated$ | async) === false">
          <a (click)="loginWithRedirect()"
            class="flex text-gray-600 cursor-pointer transition-colors duration-300 font-bold text-white">
            <svg class="fill-current h-5 w-5 mr-2 mt-0.5" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"></svg>

            Login
          </a>
        </div>


        <a (click)="logout()"
          class="flex text-gray-600 cursor-pointer transition-colors duration-300 font-bold text-white"
          *ngIf="auth.isAuthenticated$ | async">
          <svg class="fill-current h-5 w-5 mr-2 mt-0.5" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M10,17V14H3V10H10V7L15,12L10,17M10,2H19A2,2 0 0,1 21,4V20A2,2 0 0,1 19,22H10A2,2 0 0,1 8,20V18H10V20H19V4H10V6H8V4A2,2 0 0,1 10,2Z" />
          </svg>

          Logout
        </a>
      </div>
    </nav>
  </div>
</div>